<div class="module test col-xs-12">
    <div class="col-xs-9">
        <div class="root category">
            <div class="metrica" ng-repeat="metrica in _t.categorias.metricas">{{metrica}}</div>
            <div class="category {{'c' + $index}}" ng-repeat="categoria in _t.categorias.categoriasfilhas" ng-include="'categoria.html'"></div>
        </div>
    </div>
    <div class="col-xs-3 metricaslist">
        <div class="metrica" ng-repeat="metrica in _t.metricas">{{$index + ' - ' + metrica}}</div>
    </div>
</div>

<script type="text/ng-template" id="categoria.html">
    <div class="cattitle" ng-click="categoria.show = !categoria.show;">{{categoria.nome}}</div>
    <div class="" ng-if="categoria.show">
        <div class="metrica value" ng-if="categoria.CatValue">TOTAL</div>
        <div class="metrica" ng-repeat="metrica in categoria.metricas">{{metrica}}</div>
        <div class="category {{'c' + $index}}" ng-repeat="categoria in categoria.categoriasfilhas" ng-include="'categoria.html'"></div>
    </div>
</script>