.test {
}

.metricaslist .metrica{
    font-size: 0.8em;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid black;
}

.root.category{ width: 100%;}

.category{
    padding: 15px;
    float: left;
    display: table;
    position:relative;
}
    .category.c0 > .innercat{background-color: rgba(51, 102, 204, 0.5);  border: 2px solid black;}
    .category.c1 > .innercat{background-color: rgba(220, 57, 18, 0.5);   border: 2px solid black;}
    .category.c2 > .innercat{background-color: rgba(255, 153, 0, 0.5);   border: 2px solid black;}
    .category.c3 > .innercat{background-color: rgba(16, 150, 24, 0.5);   border: 2px solid black;}
    .category.c4 > .innercat{background-color: rgba(153, 0, 153, 0.5);   border: 2px solid black;}
    .category.c5 > .innercat{background-color: rgba(59, 62, 172, 0.5);   border: 2px solid black;}
    .category.c6 > .innercat{background-color: rgba(0, 153, 198, 0.5);   border: 2px solid black;}
    .category.c7 > .innercat{background-color: rgba(221, 68, 119, 0.5);  border: 2px solid black;}
    .category.c8 > .innercat{background-color: rgba(102, 170, 0, 0.5);   border: 2px solid black;}
    .category.c9 > .innercat{background-color: rgba(184, 46, 46, 0.5);   border: 2px solid black;}
    .category.c10 > .innercat{background-color: rgba(49, 99, 149, 0.5);  border: 2px solid black;}
    .category.c11 > .innercat{background-color: rgba(153, 68, 153, 0.5); border: 2px solid black;}
    .category.c12 > .innercat{background-color: rgba(34, 170, 153, 0.5); border: 2px solid black;}

    /*.category.c0{background-color: rgba(51, 102, 204, 0.5); border: 1px solid #3366CC;}
    .category.c1{background-color: rgba(220, 57, 18, 0.5); border: 1px solid #DC3912;}
    .category.c2{background-color: rgba(255, 153, 0, 0.5); border: 1px solid #FF9900;}
    .category.c3{background-color: rgba(16, 150, 24, 0.5); border: 1px solid #109618;}
    .category.c4{background-color: rgba(153, 0, 153, 0.5); border: 1px solid #990099;}
    .category.c5{background-color: rgba(59, 62, 172, 0.5); border: 1px solid #3B3EAC;}
    .category.c6{background-color: rgba(0, 153, 198, 0.5); border: 1px solid #0099C6;}
    .category.c7{background-color: rgba(221, 68, 119, 0.5); border: 1px solid #DD4477;}
    .category.c8{background-color: rgba(102, 170, 0, 0.5); border: 1px solid #66AA00;}
    .category.c9{background-color: rgba(184, 46, 46, 0.5); border: 1px solid #B82E2E;}
    .category.c10{background-color: rgba(49, 99, 149, 0.5); border: 1px solid #316395;}
    .category.c11{background-color: rgba(153, 68, 153, 0.5); border: 1px solid #994499;}
    .category.c12{background-color: rgba(34, 170, 153, 0.5); border: 1px solid #22AA99;}*/

    

    .category > .innercat{
        display: table;
        width: 100%;
        cursor: pointer;
        position: relative;
        min-width: 100px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
        .category > .innercat:hover {
            border: 2px dashed white;
        }

    .category .remove {
        position: absolute;
        right: 5px;
        top: 0;
        font-size: 1.5em;
        font-weight: 600;
    }
        .category .remove:hover {
            color: #ddd;
            cursor:pointer;
        }

    .category .metrica{
        font-size: 0.8em;
        background-color: green;
        color: white;
        border-radius: 20px;
        padding: 10px;
        display: inline-block;
        float: left;
        margin: 0 5px 5px 0;

    }
    .category .metrica.value {
        background-color: black;
    }

    .category .cattitle {
        font-size: 1.3em;
        float: left;
        width: 100%;
        border-bottom: 1px solid black;
        padding: 5px;
    }

    .category .catinfo{
        float: left;
        padding: 5px;
        width: 100%;
    }
        .category .catinfo.hover{
            background-color: red;
        }

    .category .catinfo .add{
        width: 100%;
        float: left;
        margin-top: 15px;
    }


/*#AAAA11
#6633CC
#E67300
#8B0707
#329262
#5574A6
#3B3EAC*/
/*.category.0{background-color: rgba(255, 106, 0, 0.3); border: 1px solid rgb(255,106,0);}*/
/*.category.0{background-color: rgba(255, 106, 0, 0.3); border: 1px solid rgb(255,106,0);}*/
